<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link
            rel="stylesheet"
            href="{{ url_for('static', filename='style.css') }}"
        />
        <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='assets/logo.png') }}">
        <title>Silkroad</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <script src="https://kit.fontawesome.com/084b0b81ca.js"
                integrity="sha384-h8/32HF43rfZUAuLOPbCMMsWljRTV+ZoLHenJhQksLl06KNtxYBmeu9SeRM6v71+"
                crossorigin="anonymous"></script>
    </head>
    <body>
        {% include "navbar.html" %}

        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-6">
                    <h1>Scannez le QRCode ci dessous sur l'application d'authentification de votre choix</h1>
                    <hr>
                    <p style="text-align: center;">
                        <img id="qr-code" src="{{ url_for('qr_code') }}" alt="QR Code" />
                    </p>
                    <p>Notez aussi votre clef</p>
                    <input type="text" class="form-control" id="password" name="password" disabled value="{{current_user.totp_secret}}">
                </div>
            </div>
        </div>
        {% include "footer.html" %}
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <script src="{{url_for('static', filename='script.js')}}"></script>
    </body>
</html>
